<blockquote class="blockquote-{{ variant }}" cite={{ cite }}>
    <div class="blockquote__content">{{ content }}</div>
    {% if attribution %}
        <footer class="blockquote__author">{{ attribution }}</footer>
    {% endif %}
</blockquote>