<div class="accordion" id="accordionExample">
	<div class="accordion-item">
		<div class="accordion-header" id="headingOne">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ accordion_id }}" aria-expanded="true" aria-controls="collapseOne">
				{{ accordion_header }}
			</button>
		</div>
		<div id="{{ accordion_id }}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				{{ accordion_body }}
			</div>
		</div>
	</div>
</div>
