{#
/**
 * @file
 * UI Pattern meta information.
 */
#}

{% if pattern is not empty %}


	{# Pattern name and description. #}
	<h3 class="pattern-preview__label">{{ pattern.label }}</h3>


{% endif %}
