// Library preview
.pattern-preview__variants {
  margin-bottom: 0.5rem;
}

// blockquote
.blockquote {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  &-default {
    background-color: rgb(247, 243, 243);
  }
  &-highlighted {
    background-color: rgb(247, 182, 193);
  }
  &__author {
    padding: 0.5rem 1rem;
    &:before {
      content: "- ";
    }
  }
}
