// Library preview
.pattern-preview__variants {
  margin-bottom: 0.5rem;
}

.pattern_field_type {
  padding-left: 2rem;
}

// table of field names in Pattern Library
.pattern-preview__fields {
  margin-left: 2rem;
  table-layout: fixed;
  height: min-content;
  @include media-breakpoint-up(md) {
    max-width: 75%;
  }
}

// blockquote
.blockquote {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  &-default {
    background-color: rgb(247, 243, 243);
  }
  &-highlighted {
    background-color: rgb(247, 182, 193);
  }
  &__author {
    padding: 0.5rem 1rem;
    &:before {
      content: "- ";
    }
  }
}
