// Sub theme styling.
@import 'variables_custom';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.0/customize/sass/#variable-defaults.
@import 'variables_overriden';

// Include bootstrap.
@import '../../../../themes/contrib/bootstrap5/scss/style';
